@import "../assets/styles/vars";
@import "../assets/styles/mixines";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  min-height: 100%;
}

body {
  height: 100%;
  position: relative;
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
}

body.no-scroll {
  overflow: hidden;
}

body, ul, ol, h1, h2, h3, h4, h5, h6, p, button {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  display: block;
}

span, a {
  /*display: inline-block; */
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  font-family: "Core Sans G", sans-serif;
  color: inherit;
}

button:focus {
  outline: none;
}

input, select {
  border: none;
  font-weight: inherit;
  font-size: inherit;
  padding: 0;
  background-color: transparent;
}
